# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Outputs / artifacts
out/
*.png
*.jpg
*.jpeg
*.csv
*.json

# YOLO / ML cache
runs/
.weights/
